@import "../../sass/bootstrap/functions";
@import "../../sass/bootstrap/variables";
@import "../../sass/bootstrap/mixins/breakpoints";
@import "../../sass/bootstrap/bootstrap-grid.scss";

.textbox {
  flex: 1;
  & input,
  textarea {
    padding: 0.75rem;
    width: 100%;
    padding: 7px;
    font-size: 15px;
  }
}
