.evaluations {
  background: #cecee3;

  overflow-wrap: anywhere;
  padding: 12px 18px;
  &--visible-false {
    display: none;
  }
  &__row {
    margin: 4px;
    padding: 8px 5px;
  }

  &__title {
    --type-width: auto;
    margin-left: 10px;
    & select {
      width: var(--type-width);
    }
  }

  &__input {
    & > input {
      width: 100%;
      padding: 6px 9px;
      margin: 8px 0;
      box-sizing: border-box;
      border: none;
      border: 1px solid #383836;
      background: #a5ffda;
    }
    &--visible-false {
      display: none;
    }
  }
  &__add-validation-btn {
    padding: 0px 4px;
    border-radius: 81px;
    background: #5a77ca;
    background: #0b886b;
    font-weight: bold;
    color: #a5ffda;
    border: 1px solid;
    cursor: pointer;
  }
  &__validation-container {
    display: inline-grid;
    margin-left: 4px;
  }
  &__add-btn-container {
    display: inline-grid;
  }
  &__validation {
    &__delete-btn {
      display: inline-flex;
      font-family: sans-serif;
      margin-left: 6px;
      font-size: 16px;
      cursor: pointer;
      color: #767676;
      &:hover {
        color: #b55454;
      }
    }
    &__input {
      display: inline-flex;
    }
  }
  &__type-error-msg {
    display: none;
    &--true {
      display: initial;
    }
  }
  &--error-true,
  &--error-true > * {
    color: red;
    color: #c50000;
    font-weight: bold;
  }
}
