.test-container {
  &__title-section {
    padding: 0 8px;
    font-size: 16px;
    margin: 0 4px;
    width: 100%;
    display: flex;
  }
  &__test-description-input {
    flex: 1;
    & input {
      width: 105%;
      background: none;
      border: none;
      color: #5a77e5;
      text-overflow: ellipsis;
      font-weight: bold;
    }
  }
}
