.data-table-form {
  &__description-text {
    margin: 0px;
    min-height: 43px;
    max-width: 391px;
    min-width: 391px;
  }

  &__data-type-selector {
    padding: 0.5rem;
  }

  &__delete-button {
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 61px;
    padding: 0px 5px 1px 5px;

    &:hover {
      background: #ff6b6b;
      color: white;
    }

    &:active {
      position: relative;
      top: 1px;
    }
  }
  &__add-button {
    cursor: pointer;
    padding: 1px 9px;
    line-height: 1;
    border-radius: 21px;
    font-weight: bold;
    color: #0d8065;
    font-size: 16px;
    background: white;
    border: 1px solid gainsboro;
    border: 1px solid #bbd8ca;
    &:active {
      position: relative;
      top: 1px;
    }
  }
  &__input-validation {
    &--invalid {
      border: 1px solid salmon;
      border-radius: 5px;
    }
  }
}
