.test-caption {
  padding: 0 8px;
  font-size: 16px;
  margin: 0 4px;
  width: 100%;
  display: flex;
  font-weight: 400;
  font-family: sans-serif;
  align-items: center;

  &__title {
    color: #3f51b5;
  }
  &__description-input {
    flex: 1;
    padding-left: 5px;
    & input {
      width: 100%;
      border: 1px solid #d7dbe6;
      color: #46506a;
      text-overflow: ellipsis;
      font-size: 14px;
      text-indent: 8px;
      background: #fff;
      border-radius: 6px;
      line-height: 22px;
      &:focus {
        outline: none;
        border-color: #6886ba;
      }
      &::placeholder {
        font-weight: 400;
        font-style: italic;
        color: #b3bacb;
      }
    }
    &--visible-false {
      display: none;
    }
  }
}
