.auto-complete {
  position: relative;
  display: initial;
  &__suggestions {
    position: absolute;
    top: 19px;
    z-index: 1;
    left: 0px;
    display: grid;
    // border: 1px solid #bcbfd1;
    box-shadow: 1px 3px 4px #736c6c;
    max-height: 365px;
    overflow-y: auto;
    font-family: monospace;
  }
  &__suggestion {
    padding: 6px 7px;
    display: inline-flex;
    cursor: pointer;
    background: white;
    width: calc(300px + 1rem);
    &--active,
    &:hover:not(&--empty) {
      color: #5960b6;
      background-color: #cbcbff;
      background-color: #dadaed;
      color: #3f495d;
      font-weight: 100;
      font-weight: bold;
    }
    &--empty {
      justify-content: center;
    }
  }
}
