.auto-complete {
  position: relative;
  display: initial;
  &__suggestions {
    position: absolute;
    top: 19px;
    z-index: 1;
    left: 0px;
    display: grid;
    border: 1px solid blue;
    box-shadow: 1px 3px 4px #736c6c;
    max-height: 365px;
    overflow-y: auto;
  }
  &__suggestion {
    padding: 4px 7px;
    display: inline-flex;
    cursor: pointer;
    background: white;
    width: calc(300px + 1rem);
    &--active,
    &:hover:not(&--empty) {
      background-color: #78c5b0;
      color: #796e2c;
      cursor: pointer;
      font-weight: 700;
    }
    &--empty {
      justify-content: center;
    }
  }
}
