.count {
  background: gainsboro;
  padding: 0px 9px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: bold;
  color: #777777;
  margin-left: 5px;
  display: inline-block;
  &__stat {
    padding: 3px 0;
    display: inline-block;
  }
  &__error {
    background: #ffc4b1;
    color: #f44336;
  }
  &__caution {
    background: #efc78b;
    color: #576bda;
  }
  &__passed {
    background: #009688;
    color: #8adf29;
  }
}
