@import "../../sass/bootstrap/bootstrap-grid.scss";

.system-viewer {
  background: #1c1e23;
  height: 100vh;
  & > .row {
    height: 100vh;
  }
}
.btn {
  cursor: pointer;
  display: inline-block;

  &:active {
    transform: translate(0px, -2px);
  }
}

@-webkit-keyframes bounce {
  to {
    -webkit-transform: scale(1.2);
  }
}
@-moz-keyframes bounce {
  to {
    -moz-transform: scale(1.2);
  }
}
@keyframes bounce {
  to {
    transform: scale(1.2);
  }
}
