.evaluations {
  background: #25d0a8;
  background: #76b1f7;
  background: #ced8f4;

  border-radius: 0px 0px 4px 4px;
  overflow-wrap: anywhere;
  padding: 12px 18px;
  font-family: monospace;
  &--visible-false {
    display: none;
  }
  &__row {
    margin: 4px;
    padding: 8px 5px;
  }

  &__title {
    --type-width: auto;
    margin-left: 10px;
    width: 100%;
    & select {
      width: var(--type-width);
    }
  }

  &__input {
    & > input {
      width: 100%;
      padding: 6px 9px;
      margin: 8px 0;
      box-sizing: border-box;
      border: none;
      border: 1px solid #383836;
      background: #a5ffda;
    }
    &--visible-false {
      display: none;
    }
  }
  &__add-validation-btn {
    background: #5a77ca;
    padding: 0px 5px 1px 5px;
    border-radius: 16px;
    font-weight: bold;
    color: #ffffff;
  }
  &__validation-container {
    display: inline-grid;
    margin-left: 4px;
  }
  &__add-btn-container {
    display: inline-grid;
  }
  &__validation {
    border-bottom: 1px solid #9797d1;
    &__delete-btn {
      display: inline;
      font-family: system-ui;
      margin-left: 6px;
      font-size: 15px;
      color: #6565a1;
      &:hover {
        color: #c30f0f;
      }
    }
    &__input {
      display: inline-flex;
    }
  }
  &__type-error-msg {
    display: none;
    &--true {
      display: initial;
    }
  }
  &--error-true,
  &--error-true > * {
    color: #cd4343;
    //color: #993939;
    font-weight: bold;
    //font-style: italic;
  }
}
