.expandable-section {
  --title-color: black;
  width: 100%;
  margin-bottom: 6px;
  &__items {
    &--hidden {
      display: none;
    }
  }
  &__title {
    margin-bottom: 7px;
    color: var(--title-color);
    display: flex;

    &__btn {
      cursor: pointer;
    }
  }
  &__btn {
    &--hide-true {
      visibility: hidden;
    }
  }
}
