.expandable-section {
  width: 100%;
  margin-bottom: 6px;
  &__items {
    &--hidden {
      display: none;
    }
  }
  &__title {
    margin-bottom: 7px;
    display: flex;
    position: relative;
    &__btn {
      cursor: pointer;
    }
  }
  &__btn {
    &--hide-true {
      visibility: hidden;
    }
  }
}
