.description-box {
  width: 100%;

  &__textbox {
    min-width: 100%;
    max-width: 100%;
    min-height: 146px;
    max-height: 146px;
    background: #39424a;
    color: white;
    font-size: 15px;
    font-family: inherit;
    padding: 8px;
  }
}
