.description-box {
  width: 100%;

  &__textbox {
    min-width: 100%;
    max-width: 100%;
    min-height: 70vh;
    background: white;
    color: black;
    font-size: 13px;
    padding: 20px;
    border-radius: 2px;
    border: none;
    // border-bottom: 1px solid gainsboro;
    outline: none;
    resize: none;
    font-family: "SF Mono", "Ubuntu Mono", monospace;
  }
}
