.system-nav {
  background: whitesmoke;
  background: #39414a;
  height: 100vh;
  padding: 3rem 1rem;
  overflow: auto;
  &__section {
    margin: 21px 10px;
  }
  &__object-title {
    display: inline;
  }
}
