.edit-box {
  width: 100%;
  border-radius: 13px;
  background: white;
  overflow: scroll;
  max-height: 80vh;
  border: 2px solid #f1f1f1;
  &--read {
    &:hover {
      // border: 2px dashed #5960b6;
      // border: 2px dashed gainsboro;
      // border: 2px dashed #92a3d3;
      border: 2px dashed #8b97ba;

      cursor: pointer;
    }
  }
  &__main {
    border: 2px dashed transparent;
    &--hidden {
      display: none;
    }
  }

  &__form {
    &--hidden {
      display: none;
    }
  }

  &__button {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    padding: 6px 15px;
  }
}
