.validation-input {
  margin: 3px 0;
  display: flex;
  &__selector {
    padding: 3px;
    outline: none;
    border-right: none;
    background: #8cdecb;
    border-color: #0b886b;
    appearance: none;
    cursor: pointer;
    text-align-last: center;
    font-weight: bold;
  }

  &__input,
  &__selector {
    background: none;
    border: none;
    border-bottom: 1px solid #9797d1;
    font-family: monospace;
    font-size: 14px;
  }
  &__input {
    padding: 4px;
    outline: none;
    color: #0d8065;
  }
  &__value {
    &--boolean {
      &--true {
        color: #207844;
      }
      &--false {
        color: #cf1515;
      }
      position: relative;
      top: 7px;
      font-weight: bold;
    }
  }
}
input:-webkit-autofill {
  border: 3px solid blue;
}
input:autofill {
  border: 3px solid blue;
}
