.error-message {
  padding: 4px 25px;
  color: #ff5722;
  word-break: break-word;
  font-family: monospace;
  &__message-container {
    background: #ededed;
  }
  &__message {
    padding: 6px 23px;
    background: #ededed;
    border-radius: 5px;
  }
  &__namespace {
    color: #b136c6;
    font-weight: 600;
  }
  &__expected {
    color: #0b8b22;
    font-weight: 700;
  }
}

.validation-input {
  margin: 3px 0;
  display: flex;
  &__input,
  &__selector {
    background: none;
    border: none;
    font-family: monospace;
    font-size: 14px;
  }
  &__selector {
    padding: 3px;
    outline: none;
    border-right: none;
    appearance: none;
    cursor: pointer;
    font-weight: bold;
    color: #009688;
    text-indent: 5px;
    &:hover {
      background: #b3c1e8;
      border-radius: 33px;
      // color: #f1f1f1;
    }
  }

  &__input {
    padding: 4px;
    outline: none;
    color: #0d8065;
  }
  &__value {
    &--boolean {
      &--true {
        color: #207844;
      }
      &--false {
        color: #cf1515;
      }
      position: relative;
      top: 7px;
      font-weight: bold;
    }
  }
}
input:-webkit-autofill {
  border: 3px solid blue;
}
input:autofill {
  border: 3px solid blue;
}
