.multi-test-section {
  width: 100%;
  &__test-data {
    background: #dadada;
    padding: 12px 15px;
    width: 100%;
  }
  &__add-btn {
    padding: 0px 4px;
    border-radius: 21px;
    font-weight: bold;
    color: #5960b6;
    font-size: 16px;
    background: #cecee3;
    font-family: monospace;
  }
}

.react-json-view {
  font-size: 14px;
}
