.documentation {
  color: white;
  padding: 20px;
  &__title {
    font-size: 2.25rem;
  }
}

.description-box {
  &__text {
    text-align: left;
    color: #e3e3e3;
    background: #282b31;
    background: #3f495d;
    padding: 12px;
  }
}

.GeneratedTable {
  width: 100%;
  margin: 5px 0;
  background-color: #ffffff;
  border-collapse: collapse;
  color: #000000;
  & td,
  & th {
    border-width: 1px;
    border-color: #bfbfbe;
    border-style: solid;
    padding: 3px;
    font-weight: 300;
  }
  & thead {
    background-color: #dadada;
  }
}
