@font-face {
  font-family: "SF Mono";
  src: url(./assets/fonts/FontsFree-Net-SFMono-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "Malkor";
  src: url(./assets/fonts/Malkor-Regular.ttf) format("ttf");
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "SF Mono", system-ui, source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
