.json-text-box {
  position: relative;
  &__textbox {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    border: 1px solid #8ea8eb;
    margin-top: 6px;
  }

  &__btn-container {
    position: absolute;
    right: 1px;
    top: 9px;
  }
  &__btn {
    padding: 2px 6px;
    border-radius: 1px;
    cursor: pointer;
    margin-left: 4px;
    font-family: system-ui;
    font-weight: 500;
    &:active {
      position: relative;
      top: 1px;
    }
    &--is-json-true {
      background: #25d0a8;
      color: white;
    }
    &--is-json-false {
      background: #cfc2c2;
      color: #8c3c3c;
      text-decoration: line-through;
    }
    &--cancel {
      background: #ff6b6b;
      color: white;
    }
  }
}
