.args {
  display: inline;
  width: 100%;
  &__add-btn {
    padding: 0px 3px;
    border-radius: 21px;
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
    margin: 0 5px;
    line-height: 16px;
    background: #5a77e5;
  }
  &__data {
    background: #cecee3;
    margin: 2px;
    border-radius: 7px;
    padding: 11px;
    position: relative;
    &__delete-btn {
      border-radius: 0px 7px 0px 0px;
    }
  }

  &__name {
    white-space: nowrap;

    &__text {
      display: inline-block;
      margin: 1px 0px;
      // box-shadow: 1px 1px 1px #bdbdbd;
      background: #5a77e5;
      font-weight: bold;
      color: white;
      padding: 2px 10px;
      border-radius: 100px;
      cursor: pointer;
    }
  }
  &__from-container {
    display: flex;
    /* justify-content: space-evenly; */
  }

  &__form {
    &--is12 {
      margin-top: 10px;
    }
    &__undefined {
      color: #5a5a5a;
    }
    &__input {
      background: none;
      border: none;
      border-bottom: 1px solid #9797d1;
      font-family: monospace;
      font-size: 14px;
      &--number {
        color: #9741ed;
        font-weight: bold;
      }
      &--string,
      &--target {
        text-indent: 5px;
        color: #cf5f2e;
        min-height: 31px;
        height: 31px;
        min-width: 100%;
        max-width: 100%;
        resize: none;
      }
      &--target {
        font-weight: bold;
        color: #009572;
      }
      &--date {
        margin-top: 6px;
        color: #9f4040;
      }
    }
    &__value {
      &--boolean {
        &--true {
          color: #207844;
        }
        &--false {
          color: #cf1515;
        }
        position: relative;
        top: 7px;
        font-weight: bold;
      }
    }
  }

  &__type {
    text-align: center;
  }
  &__name-display {
    margin-right: 4px;
    display: inline-block;
  }
  &__expand-btn {
    color: #0035cf61;
    text-shadow: 1px 1px 1px #cfcfcf;
  }

  &__add-json-btn {
    padding: 2px 3px;
    border-radius: 2px;
    color: #0d8065;
    position: absolute;
    top: 6px;
    right: 0;
    &:hover {
      text-decoration: underline;
    }
  }
  &__json-txb {
    &--show-false {
      display: none !important;
    }
  }
  &__value {
    padding: 14px;
    &__number {
      color: #9741ed;
      font-weight: bold;
    }
    &__string {
      color: #cf5f2e;
    }
    &__date {
      color: #9f4040;
    }
    &__undefined {
      color: #5a5a5a;
    }

    &__boolean {
      font-weight: bold;
      &--true {
        color: #207844;
      }
      &--false {
        color: #cf1515;
      }
    }
  }
}
