.args {
  display: inline;
  width: 100%;
  &__add-btn {
    background: #25d0a8;
    margin: 0px 0px 0px 3px;
    padding: 0px 5px 1px 5px;
    border-radius: 16px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
  }
  &__data {
    background: #cecee3;
    margin: 2px;
    border-radius: 7px;
    padding: 11px;
    position: relative;
    &__delete-btn {
      border-radius: 0px 7px 0px 0px;
    }
  }

  &__name {
    white-space: nowrap;

    &__text {
      display: inline-block;
      margin: 1px 0px;
      // box-shadow: 1px 1px 1px #bdbdbd;
      background: #5a77e5;
      font-weight: bold;
      color: white;
      padding: 2px 10px;
      border-radius: 100px;
      cursor: pointer;
    }
  }
  &__from-container {
    display: flex;
    /* justify-content: space-evenly; */
  }

  &__form {
    &__undefined {
      color: #5a5a5a;
    }
    &__input {
      background: none;
      border: none;
      border-bottom: 1px solid #9797d1;
      font-family: monospace;
      font-size: 14px;
      &--number {
        color: #9741ed;
        font-weight: bold;
      }
      &--string {
        color: #cf5f2e;
      }
      &--date {
        margin-top: 6px;
        color: red;
      }
    }
    &__value {
      &--boolean {
        &--true {
          color: #207844;
        }
        &--false {
          color: #cf1515;
        }
        position: relative;
        top: 7px;
        font-weight: bold;
      }
    }
  }

  &__type {
    text-align: center;
  }
  &__name-display {
    margin-right: 4px;
    display: inline-block;
  }
  &__expand-btn {
    color: #0035cf61;
    text-shadow: 1px 1px 1px #cfcfcf;
  }

  &__add-json-btn {
    padding: 2px 3px;
    border-radius: 2px;
    color: #0d8065;
    position: absolute;
    top: 6px;
    right: 0;
    &:hover {
      text-decoration: underline;
    }
  }
  &__json-txb {
    &--show-false {
      display: none !important;
    }
  }
}
